.ContractDetail{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    background-color: #f7f7f7;
    .container{
        .ContractDetail-title{
            text-align: center;
            padding: 20px 0;    
        }
        
        .table-customer{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .table-customer-left{
                .table-left{
                    background-color: white;
                    margin-right: 20px;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
            .table-customer-right{
                width: 300px;
                .table-right{
                    background-color: white;
                    margin-left: 20px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    button{
                        width: 90%;
                        margin: 10px 0;
                    }
                    .btn-kt{
                        padding: 10px;
                        border: 1px solid red;
                        border-radius: 7px;
                        background-color: white;
                        color: red;
                        transition: all 1s;
                        &:hover{
                            background-color: #f44336;
                            color: white;
                        }
                    }
                    .btn-in{
                        padding: 10px;
                        border: none;
                        background-color: #59b0fc;
                        color: white;
                        border-radius: 7px;
                    }
                }
            }
            
        }
    }
}

//-------------responsive----------------
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .ContractDetail{
        grid-area: main;
        overflow-y: auto;
        padding: 20px 20px;
        background-color: #f7f7f7;
        .container{
            .ContractDetail-title{
                text-align: center;
                padding: 20px 0;    
            }
            
            .table-customer{
                display: flex;
                flex-direction: column;
                .table-customer-left{
                    .table-left{
                        background-color: white;
                        margin-right: 0;
                        margin-bottom: 20px;
                        border-radius: 10px;
                        padding: 10px;
                    }
                }
                .table-customer-right{
                    width: 100%;
                    .table-right{
                        background-color: white;
                        margin-left: 0;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        button{
                            width: 90%;
                            margin: 10px 0;
                        }
                    }
                }
                
            }
        }
    }
}