#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color:   #21232d;
    color: #f7f7f7;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    .sidebar-title {

        // display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 20px;
        margin-top: 30px;

        .sidebar-brand {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 700;
            color: #f7f7f7;
            #close{
                display: none;
            }
            .sidebar-brand-logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                i{
                    font-size: 50px;
                }
            }
        }
    }

    .sidebar-list {
        padding: 0;
        margin-top: 15px;
        list-style-type: none;

        a {
            text-decoration: none;
            color: #21232d;
        }

        .sidebar-list-item {
            padding: 20px 20px 20px 20px;
            a {
                color:  #f7f7f7;
                transition: all 1s;
            }
            &:hover {
                background-color: #52adc0;
                transform: translateY(5px);
                cursor: pointer;
            }
        }
        .active {
            bottom: 100px;
        }
    }
}
